@using TheGoodOldLibrary.Data.Models.ViewModel.Home
@model HomeViewModel

@{
    this.ViewData["Title"] = "Home Page";
}

<table class="table  table-dark">
    <thead>
        <tr>
            <th scope="col"></th>
            <th style="color : white" scope="col">Periodicals</th>
            <th style="color : white" scope="col">Books</th>
            <th style="color : white" scope="col">Users</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"></th>
            <td>@Model.PerodicalsCount</td>
            <td>@Model.BooksCount</td>
            <td>@Model.UsersCount</td>
        </tr>
    </tbody>
</table>
<hr />
<div class="row">
    <h3>All Books</h3>
    <a class="col-md-4" asp-controller="Books" asp-action="All">
        <img width="200" src="~/images/book/istockphoto-157482029-612x612.jpg" />
    </a>
    <h3>All Periodicals</h3>

    <a class="col-md-4" asp-controller="Periodical" asp-action="All">
        <img width="300" src="~/images/periodical/periodicals1.jpg" />
    </a>

        <a asp-controller="Books" asp-action="GetMostOrdered" method="post" class="btn btn-info">Most Ordered Books</a>
        <a asp-controller="Periodical" asp-action="GetMostOrdered" method="post" class="btn btn-info">Most Ordered Periodicals</a>

</div>